<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.slate.min.css"
    />
    <link href="/styles/prism.css" rel="stylesheet" />
    <title>TBD</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><strong><a href="/">Doug's Site</a></strong></li>
        </ul>
        <ul>
          <li><a href="/notes">Notes</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>TBD</h1>
      <pre><code class="language-typescript">console.log("hello world!");</code></pre>
    </main>
    <script src="/scripts/prism.js"></script>
  </body>
</html>
